/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


/* .leaflet-container{
  height:400px;
  width:100%;
  position:relative;

} */

@media(min-width:1023px){
canvas {
  width: 550px !important;
  height: 275px !important;
}

}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1.15s ease-in;
}

